a {
    color: black;
}

label {
    white-space: nowrap;
}

.header-input {
    font-size: 2rem;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    width: 100%;
    max-width: 100%;
}

.nav-pills {
    border: none;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.nav-item {
    border-bottom: lightgrey solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: black;
    background-color: white;
}

.nav-item .active {
    border-bottom: #007bff solid 4px;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: black;
    background-color: white;
}

.description {
    min-height: 525px;
}

.negative {
    color: red;
}

.error {
    border: 1px solid red;
}

.big {
    font-size:larger; 
    font-weight: 900;
}

.body {
    padding: 15px;
}

.btn-edit {
    margin-top: 32px;
    margin-left: -15px;
    height: 42px;
}