<div class="row">
  <table *ngIf="propertyDevelopments" class="table table-sm">
    <thead>
      <tr>
        <th colspan="2"><h3>Property Development</h3></th>
        <th class="text-right" (click)="sortDevelopment('totalInvestment')">Total Investment</th>
        <th class="text-right" (click)="sortDevelopment('equity')">Equity</th>
        <th class="text-center border-left" (click)="sortDevelopment('propertyDevelopment.returnOnInvestment')">RoI</th>
        <th class="text-center" (click)="sortDevelopment('propertyDevelopment.returnOnEquity')">RoE</th>
        <th class="text-right" (click)="sortDevelopment('propertyDevelopment.salesPrice')">Sales Price</th>
        <th class="text-right" (click)="sortDevelopment('propertyDevelopment.netIncome')">Net Income</th>
        <th class="text-right" (click)="sortDevelopment('propertyDevelopment.netIncomePerMonth')">Net Income/m</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let investment of propertyDevelopments">
        <td>
          <span
            *ngIf="investment.isFavourite"
            class="fas fa-heart text-danger"
            (click)="toogleFavourite(investment)"
          ></span>
          <span
            *ngIf="!investment.isFavourite"
            class="far fa-heart"
            (click)="toogleFavourite(investment)"
          ></span>
        </td>
        <td><a class="edit-link" (click)="edit(investment.id)">{{ investment.name }}</a></td>
        <td class="text-right">{{ investment.totalInvestment | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
        <td class="text-right">{{ investment.equity | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
        <td class="text-center border-left">{{ investment.propertyDevelopment.returnOnInvestment | number: "1.1-1" }}%</td>
        <td class="text-center">{{ investment.propertyDevelopment.returnOnEquity | number: "1.1-1" }}%</td>
        <td class="text-right">{{ investment.propertyDevelopment.salesPrice | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
        <td class="text-right">{{ investment.propertyDevelopment.netIncome | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
        <td class="text-right">{{ investment.propertyDevelopment.netIncomePerMonth | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="rentalBusinesses" class="table table-sm">
    <thead>
      <tr>
        <th colspan="2"><h3>Rental Business</h3></th>
        <th class="text-right" (click)="sortRental('totalInvestment')">Total Investment</th>
        <th class="text-right" (click)="sortRental('equity')">Equity</th>
        <th class="text-center border-left" (click)="sortRental('rentalBusiness.returnOnInvestment')">RoI</th>
        <th class="text-center" (click)="sortRental('rentalBusiness.returnOnEquity')">RoE</th>
        <th class="text-right" (click)="sortRental('rentalBusiness.revenue')">Revenue</th>
        <th class="text-right" (click)="sortRental('rentalBusiness.netIncome')">Net Income</th>
        <th class="text-right" (click)="sortRental('rentalBusiness.netIncome')">Net Income/m</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let investment of rentalBusinesses">
        <td>
          <span
            *ngIf="investment.isFavourite"
            class="fas fa-heart text-danger"
            (click)="toogleFavourite(investment)"
          ></span>
          <span
            *ngIf="!investment.isFavourite"
            class="far fa-heart"
            (click)="toogleFavourite(investment)"
          ></span>
        </td>
        <td><a class="edit-link" (click)="edit(investment.id)">{{ investment.name }}</a></td>
        <td class="text-right">{{ investment.totalInvestment | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
        <td class="text-right">{{ investment.equity | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
        <td class="text-center border-left">{{ investment.rentalBusiness.returnOnInvestment | number: "1.1-1" }}%</td>
        <td class="text-center">{{ investment.rentalBusiness.returnOnEquity | number: "1.1-1" }}%</td>
        <td class="text-right">{{ investment.rentalBusiness.revenue | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
        <td class="text-right">{{ investment.rentalBusiness.netIncome | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
        <td class="text-right">{{ investment.rentalBusiness.netIncome / 12 | currency: "SEK":"symbol":"1.0-0":"sv" }}</td>
      </tr>
    </tbody>
  </table>
</div>
