<div *ngIf="capital">
  <h3>CAPITAL</h3>
  <hr />
  <div class="row mb-4">
    <div class="col">
      <div class="row">
        <div class="col">
          <h5 class="mt-1">Total Investment:</h5>
        </div>
        <div class="col text-right mr-3">
          <h5>
            {{ capital.totalInvestment | currency: "SEK":"symbol":"1.0-0":"sv" }}
          </h5>
        </div>
        <div class="col">
          <h5 class="mt-1">Bank Loan:</h5>
        </div>
        <div class="col text-right mr-3">
          <h5>
            {{ capital.bankLoan | currency: "SEK":"symbol":"1.0-0":"sv" }}
          </h5>
        </div>
        <div class="col">
          <h5 class="mt-1">Corporate Bonds:</h5>
        </div>
        <div class="col text-right mr-3">
          <h5>{{ capital.bond | currency: "SEK":"symbol":"1.0-0":"sv" }}</h5>
        </div>
      </div>
    </div>
  </div>