<app-summary>
</app-summary>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary mt-3" (click)="add()">
      <span class="fas fa-plus"></span>
      NEW INVESTMENT
    </button>
  </div>
  <div class="col text-right mt-3">
    <button class="btn" (click)="toggleView('table')" [ngClass]="{'view-selected':view === 'table'}"><span class="fas fa-th-list"></span></button>
    <button class="btn" (click)="toggleView('tiles')" [ngClass]="{'view-selected':view === 'tiles'}"><span class="fas fa-th-large"></span></button>    
  </div>
  <div class="col-auto m-0">

  </div>
</div>
<app-tiles *ngIf="view === 'tiles'"></app-tiles>
<app-table *ngIf="view === 'table'"></app-table>