a {
    color: black;
}

.nav-pills {
    border: none;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.nav-item {
    border-bottom: lightgrey solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: black;
    background-color: white;
}

.nav-item .active {
    border-bottom: #007bff solid 4px;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: black;
    background-color: white;
}

.negative {
    color: red;
}