<form #form="ngForm" (ngSubmit)="ok(form)">
  <div class="modal-header">
      <input class="form-control input-lg w-100" name="deal.name" [(ngModel)]="investment.name"
        #dealName="ngModel" placeholder="Name..." required
        [class.error]="form.submitted && dealName.invalid">
    <button type="button" class="close pull-right pt-4" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body m-1">

    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="numbers-tab" data-toggle="tab" href="#numbers" role="tab" aria-controls="profile" aria-selected="false">Numbers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="contact" aria-selected="false">Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="contact" aria-selected="false">Documents</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="numbers" role="tabpanel" aria-labelledby="numbers-tab">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Total Investment</label>
              <input class="form-control text-right" name="totalInvestment" [(ngModel)]="totalInvestment"
                (keyup)="totalInvestmentChange(totalInvestment)">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Equity</label>
              <input class="form-control text-right" name="equity" [(ngModel)]="equity"
                (keyup)="equityChange(equity)">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Intrest Rate (%)</label>
              <input class="form-control text-right" name="intrestRate" [(ngModel)]="intrestRate"
                (keyup)="intrestRateChange(intrestRate)">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Currency</label>
              <select class="custom-select" name="investment.currency" [(ngModel)]="investment.currency">
                <option selected value="SEK">SEK</option>
                <option value="NOK">NOK</option>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <h4>Property Development</h4>
              </div>
              <div class="col text-right">
                <label class="switch">
                  <input type="checkbox" name="investment.hasPropertyDevelopment" [(ngModel)]="investment.hasPropertyDevelopment" (change)="hasPropertyDevelopmentChange()">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>             
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Sales Price</label>
              <div class="col-sm-4">
                <input class="form-control text-right" name="salesPrice" [disabled]="!this.investment.hasPropertyDevelopment"
                  [(ngModel)]="salesPrice" (keyup)="salesPriceChange(salesPrice)">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Timespan (months)</label>
              <div class="col-sm-4">
              <input class="form-control text-right" name="timespan" [(ngModel)]="timespan" [disabled]="!this.investment.hasPropertyDevelopment"
                (keyup)="timespanChange(timespan)">
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Total Investment</label>
              <label *ngIf="salesPrice" class="col-sm-4 col-form-label text-right negative pr-4">{{ investment.totalInvestment | currency:'SEK':'symbol':'1.0-0':'sv' }}</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Intrest</label>
              <label
                class="col-sm-4 col-form-label text-right negative pr-4">{{ investment.propertyDevelopment.intrest | currency:'SEK':'symbol':'1.0-0':'sv' }}</label>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-sm-8 big">Net Income</label>
              <label
                class="col-sm-4 big text-right pr-4">{{ investment.propertyDevelopment.netIncome | currency:'SEK':'symbol':'1.0-0':'sv'}}</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Net Income/month</label>
              <label
                class="col-sm-4 col-form-label text-right pr-4">{{ investment.propertyDevelopment.netIncomePerMonth | currency:'SEK':'symbol':'1.0-0':'sv'}}</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Return on Investment</label>
              <label *ngIf="investment.propertyDevelopment.returnOnInvestment"
                class="col-sm-4 col-form-label text-right pr-4">{{ investment.propertyDevelopment.returnOnInvestment | number:'1.2-2' }}%</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Return on Equity</label>
              <label *ngIf="investment.propertyDevelopment.returnOnEquity "
                class="col-sm-4 col-form-label text-right pr-4">{{ investment.propertyDevelopment.returnOnEquity | number:'1.2-2' }}%</label>
            </div>
          </div>
          <div class="col">
            <div class="row rental">
              <div class="col">
                <h4>Rental Business</h4>
              </div>
              <div class="col text-right">
                <label class="switch">
                  <input type="checkbox" name="investment.hasRentalBusiness" [(ngModel)]="investment.hasRentalBusiness" (change)="hasRentalBusinessChange()">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Revenue</label>
              <div class="col-sm-4">
                <input class="form-control text-right" name="revenue" [disabled]="!this.investment.hasRentalBusiness"
                  [(ngModel)]="revenue" (keyup)="revenueChange(revenue)">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Operating Cost</label>
              <div class="col-sm-4">
                <input class="form-control text-right negative" name="operatingCost" [disabled]="!this.investment.hasRentalBusiness"
                  [(ngModel)]="operatingCost" (keyup)="operatingCostChange(operatingCost)">
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-sm-8 big ">Operating Income</label>
              <label
                class="col-sm-4 big text-right pr-4">{{ investment.rentalBusiness.revenue - investment.rentalBusiness.operatingCost | currency:'SEK':'symbol':'1.0-0':'sv'}}</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Intrest</label>
              <label
                class="col-sm-4 col-form-label text-right negative pr-4">{{ investment.rentalBusiness.intrest | currency:'SEK':'symbol':'1.0-0':'sv' }}</label>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-sm-8 big ">Net Income</label>
              <label
                class="col-sm-4 big text-right pr-4">{{ investment.rentalBusiness.netIncome | currency:'SEK':'symbol':'1.0-0':'sv'}}</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Net Income/month</label>
              <label *ngIf="investment.rentalBusiness.returnOnInvestment"
                class="col-sm-4 col-form-label text-right pr-4">{{ investment.rentalBusiness.netIncome / 12 | currency:'SEK':'symbol':'1.0-0':'sv'}}</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Return on Investment</label>
              <label *ngIf="investment.rentalBusiness.returnOnInvestment"
                class="col-sm-4 col-form-label text-right pr-4">{{ investment.rentalBusiness.returnOnInvestment | number:'1.2-2' }}%</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">Return on Equity</label>
              <label *ngIf="investment.rentalBusiness.returnOnEquity"
                class="col-sm-4 col-form-label text-right pr-4">{{ investment.rentalBusiness.returnOnEquity | number:'1.2-2' }}%</label>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <textarea class="form-control description" name="investment.description" [(ngModel)]="investment.description"
                placeholder="Description...">
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">...</div>
      <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">...</div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-success w-100" value="Ok">
    <button type="button" class="btn btn-danger w-100" (click)="cancel()">Cancel</button>
  </div>
</form>