.input-lg {
    font-size: x-large;
    color: black;
}

.description {
    height: 150px;
}

.negative {
    color: red;
}

.error {
    border: 1px solid red;
}

.big {
    font-size:larger; 
    font-weight: 900;
}