<form #form="ngForm" (ngSubmit)="ok(form)">
  <div class="modal-header">
    <button type="button" class="close pull-right" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body m-1">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input class="form-control input-lg" name="deal.name" [(ngModel)]="deal.name"
            (ngModelChange)="calculate()" #dealName="ngModel" placeholder="Name..." required
            [class.error]="form.submitted && dealName.invalid">
        </div>
        <div class="form-group">
          <textarea class="form-control description" name="deal.description" [(ngModel)]="deal.description"
            (ngModelChange)="calculate()" placeholder="Description...">
          </textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Timespan (months)</label>
          <input class="form-control text-right" name="deal.timespan" [(ngModel)]="deal.timespan"
            (ngModelChange)="calculate()" type="text" pattern="\d*">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Equity</label>
          <input class="form-control text-right" name="deal.equity" [(ngModel)]="deal.equity"
            (ngModelChange)="calculate()">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Intrest Rate (%)</label>
          <input class="form-control text-right" name="deal.intrestRate" [(ngModel)]="deal.intrestRate"
            (ngModelChange)="calculate()">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h4>Investment Deal</h4>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Sales Price</label>
          <div class="col-sm-6">
            <input class="form-control text-right" name="deal.investment.salesPrice"
              [(ngModel)]="deal.investment.salesPrice" (ngModelChange)="calculate()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Total Investment</label>
          <div class="col-sm-6">
            <input class="form-control text-right negative" name="deal.investment.totalInvestments"
              [(ngModel)]="deal.investment.totalInvestment" (ngModelChange)="calculate()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Intrest</label>
          <label
            class="col-sm-6 col-form-label text-right negative pr-4">{{ deal.investment.intrest | currency:'SEK':'symbol':'1.0-0':'sv' }}</label>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-sm-6 big">Net Income</label>
          <label
            class="col-sm-6 big text-right pr-4">{{ deal.investment.netIncome | currency:'SEK':'symbol':'1.0-0':'sv'}}</label>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Return on Investment</label>
          <label *ngIf="deal.investment.returnOnInvestment"
            class="col-sm-6 col-form-label text-right pr-4">{{ deal.investment.returnOnInvestment | number:'1.2-2' }}%</label>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Return on Equity</label>
          <label *ngIf="deal.investment.returnOnEquity "
            class="col-sm-6 col-form-label text-right pr-4">{{ deal.investment.returnOnEquity | number:'1.2-2' }}%</label>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Net Income/month</label>
          <label
            class="col-sm-6 col-form-label text-right pr-4">{{ deal.investment.netIncomePerMonth | currency:'SEK':'symbol':'1.0-0':'sv'}}</label>
        </div>
      </div>
      <div class="col">
        <h4>Rental Business</h4>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Revenue</label>
          <div class="col-sm-6">
            <input class="form-control text-right" name="deal.rentalBusiness.revenue"
              [(ngModel)]="deal.rentalBusiness.revenue" (ngModelChange)="calculate()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Operating Cost</label>
          <div class="col-sm-6">
            <input class="form-control text-right negative" name="deal.rentalBusiness.operatingCost"
              [(ngModel)]="deal.rentalBusiness.operatingCost" (ngModelChange)="calculate()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Intrest</label>
          <label
            class="col-sm-6 col-form-label text-right negative pr-4">{{ deal.rentalBusiness.intrest | currency:'SEK':'symbol':'1.0-0':'sv' }}</label>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-sm-6 big ">Net Income</label>
          <label
            class="col-sm-6 big text-right pr-4">{{ deal.rentalBusiness.netIncome | currency:'SEK':'symbol':'1.0-0':'sv'}}</label>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Return on Investment</label>
          <label *ngIf="deal.rentalBusiness.returnOnInvestment"
            class="col-sm-6 col-form-label text-right pr-4">{{ deal.rentalBusiness.returnOnInvestment | number:'1.2-2' }}%</label>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Return on Equity</label>
          <label *ngIf="deal.rentalBusiness.returnOnEquity"
            class="col-sm-6 col-form-label text-right pr-4">{{ deal.rentalBusiness.returnOnEquity | number:'1.2-2' }}%</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-success w-100" value="Ok">
    <button type="button" class="btn btn-danger w-100" (click)="cancel()">Cancel</button>
  </div>
</form>